.news {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  @media (max-width: 768px) {
    padding: 40px 20px;
  }
  .heading {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    h2 {
      flex: 1;
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      max-width: calc(50% - 12.5px);
      @media (max-width: 768px) {
        font-size: 26px;
        width: 100%;
        max-width:100%;
      }
    }
    .txt {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 64px;
      max-width: 434px;
      @media (max-width: 768px) {
        gap: 40px;
        max-width: 100%;
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: uppercase;
      }
    }
  }
  .pr-content {
    .grid {
      display: grid;
      grid-auto-rows: auto;
      gap: 23px;

      grid-row-gap: 40px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
        cursor: pointer;
        .image {
          width: 100%;
          img {
            width: 100%;
            height: 300px;
            @media (max-width: 768px) {
              height: 274px;
            }
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          align-self: stretch;
          @media (max-width: 768px) {
            gap:24px;
          }
          .name{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            p{
              color: #000;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }

          }
          .descr {
            p{
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
            ::ng-deep p {
              width: 100%;
              word-break: break-word;
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal; /* 177.778% */
              ::ng-deep strong {
                font-size: 22px;
              }
              ::ng-deep a {
                color: #333;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
              }
            }
          }
        }
      }
    }
    .grid > div:nth-child(1) {
      grid-column: span 6;
      @media (max-width: 768px) {
        grid-column: auto;
      }
      img{
        height: 320px !important;
        @media (max-width: 768px) {
          height: 274px !important;
        }
      }
    }
    .grid > div{
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    .grid > div:nth-child(2),
    .grid > div:nth-child(3) {
      grid-column: span 3;
      img{
        height: 230px !important;
        @media (max-width: 768px) {
          height: 274px !important;
        }
      }
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    .grid > div:nth-child(4),
    .grid > div:nth-child(5) {
      grid-column: span 6; /* 2 items on a 12-column grid */
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }
    /* First row (2 columns) */
    .grid > div:nth-child(6),
    .grid > div:nth-child(7),
    .grid > div:nth-child(8) {
      grid-column: span 4; /* 2 items on a 12-column grid */
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }



    /* Second row (3 columns) */
  }


  /* Define a 12-column layout */
  .grid {
    grid-template-columns: repeat(12, 1fr);
    @media (max-width: 768px) {
      grid-template-rows: auto;
      grid-template-columns: 1fr
    }
  }
}
