.footer-wrapper{
  display: flex;
  width: 100%;
  padding: 40px 150px 60px 150px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #000000;
  @media (max-width: 768px) {
    padding: 40px 20px 76px 20px;
  }
  img{
    height: 68px;
    @media (max-width: 768px) {
      height: 42px;
    }
  }
  nav{
    ul{
      display: flex;
      align-items: center;
      gap: 32px;
      padding: 0;
      list-style: none;
      margin: 0;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      li{
        a{
          color: #FFF;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  .social{
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
