::ng-deep {
  .p-galleria {
    margin-top: 0 !important;
    border-radius: 0 !important;
    height: 100% !important;
    border:none !important;
  }
  .p-galleria-inset-indicators.p-galleria-indicators-bottom
    .p-galleria-indicator-list {
    background: none !important;
  }
  .p-galleria-items-container, .p-galleria-content{
    height: 100% !important;
  }
}
.banner {
  display: flex;
  gap: 50px;
  padding-top: 81px;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding-top: 100px;
  }
  @media (max-width: 768px) {
    gap:35px;
    padding-top: 85px;

  }
  .info {
    padding-top: 63px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 1024px) {
      padding: 20px 0;
    }
    @media (max-width: 768px) {
      gap:27px;
    }
    h1 {
      color: #000;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: 63px; /* 116.667% */
      @media (max-width: 768px) {
        font-size: 25px;
        line-height: 43px;
      }
    }
    p {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    button {
      display: flex;
      width: 170px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 1px solid #000;
      border-radius: 0px;
    }
  }
  .card {
    //width: 730px;
    width: 100%;
    max-height: calc(100vh - 124px);
    @media (max-width: 768px) {
      //height: 250px;
    }
  }
}
.projects {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 1560px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    padding: 60px 20px;
  }
  .heading {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    //@media (max-width: 768px) {
    //  flex-direction: column;
    //}
    h2 {
      flex: 1;
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
    .txt {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 64px;
      @media (max-width: 768px) {
        gap: 40px;
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: uppercase;
      }
    }
  }
  .pr-content {
    .grid {
      display: grid;
      grid-auto-rows: auto;
      gap: 23px;

      grid-row-gap: 40px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        flex: 1 0 0;
        cursor: pointer;
        .image {
          width: 100%;
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            @media (max-width: 768px) {
              height: 274px;
            }
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
          align-self: stretch;
          @media (max-width: 768px) {
            gap:15px;
          }
          .name{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            border-bottom: 1px solid #E1E1E1;
            padding-bottom: 6px;
            p{
              color: #9A9A9A;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
          }

          .icon{
            display: flex;
            align-items: center;
            gap:10px;
            span{
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .grid > div{
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }
    /* First row (2 columns) */
    .grid > div:nth-child(1),
    .grid > div:nth-child(2) {
      grid-column: span 4; /* 2 items on a 12-column grid */
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    /* Second row (3 columns) */
    .grid > div:nth-child(3),
    .grid > div:nth-child(4),
    .grid > div:nth-child(5) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    .grid > div:nth-child(8) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
      //img{
      //  height: 320px !important;
      //  @media (max-width: 768px) {
      //    height: 274px !important;
      //  }
      //}
    }

    .grid > div:nth-child(6),
    .grid > div:nth-child(7) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
      //img{
      //  height: 230px !important;
      //  @media (max-width: 768px) {
      //    height: 274px !important;
      //  }
      //}
    }


    /* Third row (2 columns again) */
    .grid > div:nth-child(9),
    .grid > div:nth-child(10) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    /* Define a 12-column layout */
    .grid {
      grid-template-columns: repeat(12, 1fr);
      @media (max-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr
      }
    }
  }
}
.innovations {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("https://gerkoblob.blob.core.windows.net/images/25b893ea-7f0c-4b1b-8cfb-2a2126dc836018080dd9463074e337b50262844ca8d750654793%20%281%29.webp")
      lightgray 50% / cover no-repeat;
  //background-image: url();
  //background-repeat: round;
  //background-size: cover;
  position: relative;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("https://gerkoblob.blob.core.windows.net/images/25b893ea-7f0c-4b1b-8cfb-2a2126dc836018080dd9463074e337b50262844ca8d750654793%20%281%29.webp") lightgray 0px -41.5px / 100% 163.265% no-repeat;
    height: 147px;
  }
  .logo{
    @media (max-width: 768px) {
      max-height: 55px;
    }
    svg{
      &.big{
        display: block;
        @media (max-width: 768px) {
          display: none;
        }
      }
      &.small{
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }

    }
  }
  .items {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    @media (max-width: 1024px) {
      padding: 0 20px;

    }
    p {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
}
.about {
  padding: 100px 80px;
  @media (max-width: 1024px) {
    padding: 60px 20px;
  }
  .inner {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    justify-content: space-between;
    //border-bottom: 1px solid #b2b3b7;
    //padding-bottom: 54px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 48px;
    }
    .text {
      max-width: 660px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      @media (max-width: 768px) {
        gap: 32px;
      }
      h3 {
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      button {
        display: flex;
        width: 152px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid #000;
        border-radius: 0;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }
    .items {
      display: flex;
      width: 435px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex-shrink: 0;
      @media (max-width: 768px) {
        width: 100%;
      }
      .item {
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        background: #b2b3b7;
        @media (max-width: 768px) {
          padding: 20px;
          gap: 16px;
        }
        p {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;
        }
        span {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.news {
  padding: 0 80px 120px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  @media (max-width: 1024px) {
    padding: 0 20px 60px;
  }
  .heading {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    h2 {

      flex: 1;
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
    .txt {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 64px;
      @media (max-width: 768px) {
        gap: 40px;
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: uppercase;
      }
    }
  }
  .pr-content {
    .grid {
      display: grid;
      grid-auto-rows: auto;
      gap: 23px;

      grid-row-gap: 40px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
        cursor: pointer;
        .image {
          width: 100%;
          img {
            width: 100%;
            height: 300px;
            @media (max-width: 768px) {
              height: 120px;
            }
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          align-self: stretch;
          @media (max-width: 768px) {
            gap:24px;
          }
          .name{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            p{
              color: #000;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }

          }
          .descr {
            p{
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
            ::ng-deep p {
              width: 100%;
              word-break: break-word;
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal; /* 177.778% */
              ::ng-deep strong {
                font-size: 22px;
              }
              ::ng-deep a {
                color: #333;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
              }
            }
          }
        }
        &:first-child {
          @media (max-width: 768px) {
            .image{
              img{
                height: 174px;
              }
            }
          }
        }
      }
    }

    /* First row (2 columns) */
    .grid > div:nth-child(1),
    .grid > div:nth-child(2),
    .grid > div:nth-child(3) {
      grid-column: span 4; /* 2 items on a 12-column grid */
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    /* Second row (3 columns) */
  }
  .grid > div:nth-child(4) {
    grid-column: span 6;
    @media (max-width: 768px) {
      grid-column: auto;
    }
    img{
      height: 320px !important;
      @media (max-width: 768px) {
        height: 120px !important;
      }
    }
  }

  .grid > div:nth-child(5),
  .grid > div:nth-child(6) {
    grid-column: span 3;
    @media (max-width: 768px) {
      grid-column: auto;
    }
    img{
      height: 230px !important;
      @media (max-width: 768px) {
        height: 120px !important;
      }
    }
  }

  .grid > div:nth-child(1){
    @media (max-width: 768px) {
    grid-column: span 2 !important;
    }
  }
  /* Define a 12-column layout */
  .grid {
    grid-template-columns: repeat(12, 1fr);
    @media (max-width: 768px) {
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr
    }
  }
}

