/* scroller.component.scss */
.scroller {
  width: 100%;

  &[data-animated="true"] {
    overflow: hidden;
    //-webkit-mask-image: linear-gradient(
    //    90deg,
    //    transparent,
    //    white 20%,
    //    white 80%,
    //    transparent
    //);
    //mask-image: linear-gradient(
    //    90deg,
    //    transparent,
    //    white 20%,
    //    white 80%,
    //    transparent
    //);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    .scroller__inner {
      width: max-content;
      flex-wrap: nowrap;
      animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
      background: #FFFF00;
      @media (max-width: 769px) {
        padding-block: 10px;
      }
    }
  }


  &[data-direction="right"] {
    --_animation-direction: reverse;
  }

  &[data-direction="left"] {
    --_animation-direction: forwards;
  }

  &[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  &[data-speed="slow"] {
    --_animation-duration: 60s;
  }
}

.scroller__inner {
  padding-block: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  //box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
