<div #scroller class="scroller" data-direction="left" [attr.data-speed]="'slow'">
  <div class="scroller__inner">
  <p><strong>{{ 'Eileen Gray' | translate }}</strong> - "{{'To create, one must first question everything.' | translate}}"</p>
  <p><strong>{{ 'Louis Kahn' | translate }}</strong> - "{{'Even a brick wants to be something.' | translate}}"</p>
  <p><strong>{{ 'Brenda Laurel' | translate }}</strong> - "{{'A design isn\'t finished until someone is using it.' | translate}}"</p>
  <p><strong>{{ 'Johann Wolfgang von Goethe' | translate }}</strong> - "{{'I call architecture frozen music.' | translate}}"</p>
  <p><strong>{{ 'Augustus W. N. Pugin' | translate }}</strong> - "{{'In pure architecture the smallest detail should have a meaning or serve a purpose.' | translate}}"</p>
  <p><strong>{{ 'Tadao Ando' | translate }}</strong> - "{{'I like ruins because what remains is not the total design, but the clarity of thought, the naked structure, the spirit of the thing.' | translate}}"</p>
  <p><strong>{{ 'César Pelli' | translate }}</strong> - "{{'The desire to reach for the sky runs very deep in the human psyche.' | translate}}"</p>
  <p><strong>{{ 'Daniel Libeskind' | translate }}</strong> - "{{'Architecture is not based on concrete and steel, and the elements of the soil. It\'s based on wonder.' | translate}}"</p>
  <p><strong>{{ 'Winston Churchill' | translate }}</strong> - "{{'We shape our buildings: thereafter they shape us' | translate}}"</p>
  </div>
</div>

