.projects {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  min-height: 700px;
  max-width: 1560px;
  margin: 0 auto;

  padding-top: 125px;

  @media (max-width: 768px) {
    padding: 125px 20px;
  }
  .heading {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    h2 {
      flex: 1;
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      max-width: calc(50% - 12.5px);
      @media (max-width: 768px) {
        font-size: 26px;
        width: 100%;
        max-width: 100%;
      }
    }
    .txt {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 64px;
      max-width: 434px;
      @media (max-width: 768px) {
        gap: 40px;
        max-width: 100%;
      }
      p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: uppercase;
      }
    }
  }
  .pr-content {
    .grid {
      display: grid;
      grid-auto-rows: auto;
      gap: 23px;

      grid-row-gap: 40px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        flex: 1 0 0;
        cursor: pointer;
        .image {
          width: 100%;
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            @media (max-width: 768px) {
              height: 274px;
            }
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
          align-self: stretch;
          @media (max-width: 768px) {
            gap: 15px;
          }
          .name {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 6px;
            p {
              color: #9a9a9a;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
          }

          .icon {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .grid > div {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }
    /* First row (2 columns) */
    .grid > div:nth-child(1),
    .grid > div:nth-child(2) {
      grid-column: span 4; /* 2 items on a 12-column grid */
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    /* Second row (3 columns) */
    .grid > div:nth-child(3),
    .grid > div:nth-child(4),
    .grid > div:nth-child(5) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    .grid > div:nth-child(8) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
      //img{
      //  height: 320px !important;
      //  @media (max-width: 768px) {
      //    height: 274px !important;
      //  }
      //}
    }

    .grid > div:nth-child(6),
    .grid > div:nth-child(7) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
      //img{
      //  height: 230px !important;
      //  @media (max-width: 768px) {
      //    height: 274px !important;
      //  }
      //}
    }

    /* Third row (2 columns again) */
    .grid > div:nth-child(9),
    .grid > div:nth-child(10) {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: auto;
      }
    }

    /* Define a 12-column layout */
    .grid {
      grid-template-columns: repeat(12, 1fr);
      @media (max-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
      }
    }
  }
}
