<section class="projects">
  <div class="heading">
    <h2>{{ "Projects" | translate }}</h2>

  </div>
  <div class="pr-content">
    <div class="grid">
      <div class="item" *ngFor="let item of projects" [routerLink]="item.id">
        <div class="image">
          <img [src]="item.image" alt="" />
        </div>
        <div class="info">
          <div class="name">
            <p>{{item.type}}</p>
            <p>{{item.date | date :"YYYY"}}</p>
          </div>
          <div class="icon">
            <span>{{ item.address }}</span>
          </div>
        </div>
      </div>

      <!-- Add more items as needed -->
    </div>
  </div>
</section>
