<div class="wrapper">
  <div class="story">
    <div class="txt">
      <h2>{{'Our Story' | translate}}</h2>
      <div class="description">
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
      </div>
    </div>
    <div class="image">
      <img src="https://gerkoblob.blob.core.windows.net/images/87c0d9dd-7ed1-4a27-9e36-a48295ed9e2ae382b1d1d7650b4f216799d5853abafebecb3ce4.webp" alt="">
    </div>
  </div>
  <div class="founders">
    <h2>{{'Founders' | translate}}</h2>
    <div class="items">
      <div class="image">
        <img src="https://gerkoblob.blob.core.windows.net/images/b8611059-493e-4c70-a045-db2f6c29c6eeimage%2023%20%281%29.png" alt="">
      </div>
      <div class="txt">
        <div class="item">
          <p>Our approach balances contemporary design with contextual awareness.  Over the years, we've completed award-winning homes, urban interventions, and cultural spaces that speak to simplicity and purpose.</p>
        </div>
        <div class="item">
          <p>Our approach balances contemporary design with contextual awareness.  Over the years, we've completed award-winning homes, urban interventions, and cultural spaces that speak to simplicity and purpose.</p>
        </div>
      </div>
      <div class="image">
        <img src="https://gerkoblob.blob.core.windows.net/images/b8611059-493e-4c70-a045-db2f6c29c6eeimage%2023%20%281%29.png" alt="">
      </div>
    </div>
  </div>
</div>
