<div class="wrapper">
  <div class="story">
    <div class="txt">
      <h2>{{'Our Story' | translate}}</h2>
      <div class="description">
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
        <p>Founded in 2019, GERKO Studio is an architecture and design firm based in Tbilisi, Georgia.  We specialize in residential, cultural, and public spaces — with a focus on clean lines, functional layouts, and timeless materials.</p>
      </div>
    </div>
    <div class="image">
      <img src="https://gerkoblob.blob.core.windows.net/images/34454f0d-6e1d-4bde-a30f-211bdf992f4fIMG_8769.webp" alt="">
    </div>
  </div>
<!--  <div class="founders">-->
<!--    <h2>{{'Founders' | translate}}</h2>-->
<!--    <div class="items pc">-->
<!--      <div class="image">-->
<!--        <img src="https://gerkoblob.blob.core.windows.net/images/b8611059-493e-4c70-a045-db2f6c29c6eeimage%2023%20%281%29.png" alt="">-->
<!--      </div>-->
<!--      <div class="txt">-->
<!--        <div class="item">-->
<!--          <p>Our approach balances contemporary design with contextual awareness.  Over the years, we've completed award-winning homes, urban interventions, and cultural spaces that speak to simplicity and purpose.</p>-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <p>Our approach balances contemporary design with contextual awareness.  Over the years, we've completed award-winning homes, urban interventions, and cultural spaces that speak to simplicity and purpose.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="image">-->
<!--        <img src="https://gerkoblob.blob.core.windows.net/images/b8611059-493e-4c70-a045-db2f6c29c6eeimage%2023%20%281%29.png" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="mob">-->
<!--      <div class="text-wrap">-->
<!--        <img src="https://gerkoblob.blob.core.windows.net/images/b8611059-493e-4c70-a045-db2f6c29c6eeimage%2023%20%281%29.png" alt="Person" class="float-img" />-->
<!--        <p>-->
<!--          Our approach balances contemporary design with contextual awareness.-->
<!--          Over the years, we've completed award-winning homes, urban interventions, and cultural spaces that-->
<!--          Our approach balances contemporary design with contextual awareness.-->
<!--        </p>-->
<!--      </div>-->

<!--      <div class="text-wrap reverse">-->
<!--        <img src="https://gerkoblob.blob.core.windows.net/images/b8611059-493e-4c70-a045-db2f6c29c6eeimage%2023%20%281%29.png" alt="Person" class="float-img-right" />-->
<!--        <p>-->
<!--          Our approach balances contemporary design with contextual awareness.-->
<!--          Over the years, we've completed award-winning homes, urban interventions, and cultural spaces that-->
<!--          Our approach balances contemporary design with contextual awareness.-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
