<div class="wrapper">
  <div class="first">
    <div class="image">
      <img [src]="response.image" alt="" />
    </div>
  </div>
  <div class="second">
    <h1>{{ response.name }}</h1>
    <div class="description">
      <p [innerHTML]="response.description"></p>
    </div>
  </div>
  <div class="max-block">
    <div class="third">
      <div class="txt">
        <p [innerHTML]="response.shortDescription"></p>
      </div>
      <div class="list">
        <h3>
          {{ "Building Information" | translate }}
        </h3>
        <div class="items">
          <div class="item">
            <label>{{ "Type" | translate }}</label>
            <p>{{ response.type }}</p>
          </div>
          <div class="item">
            <label>{{ "Build in" | translate }}</label>
            <p>{{ response.date | date: "YYYY" }}</p>
          </div>
          <div class="item" *ngIf="response.endDate">
            <label>{{ "End date" | translate }}</label>
            <p>{{ response.endDate | date: "YYYY" }}</p>
          </div>
          <div class="item">
            <label>{{ "Status" | translate }}</label>
            <p>{{ response.status }}</p>
          </div>
          <div class="item" *ngIf="response.sizeEnabled">
            <label>{{ "Size" | translate }}</label>
            <p>{{ response.size }} m2</p>
          </div>
          <div class="item" *ngIf="response.clientEnabled">
            <label>{{ "Client" | translate }}</label>
            <p>{{ response.client }}</p>
          </div>
          <div class="item">
            <label>{{ "Location" | translate }}</label>
            <p style="cursor: pointer" (click)="scrollToMap()">
              {{ response.address }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="fifth">
      <div class="image-grid">
        <img
          *ngFor="let img of response.images; let i = index"
          style="cursor: pointer"
          [src]="img"
          alt="House Image"
          (click)="openImageLightbox(i)"
        />
      </div>
    </div>
    <div class="fourth">
      <div class="map" #mapSection>
        <google-map
          width="100%"
          [center]="center"
          [zoom]="14"
          [options]="mapOptions"
        >
          <map-marker [position]="center" title="My Pin"></map-marker>
        </google-map>
      </div>
    </div>
  </div>
</div>

<div
  class="lightbox-backdrop"
  *ngIf="showImageLightBox"
  (click)="closeImageLightbox()"
  @fadeInOut
>
  <div class="lightbox-content" (click)="$event.stopPropagation()">
    <!-- Left arrow -->
    <div class="image-content">
      <button
        class="nav-arrow left"
        (click)="prevImage($event)"
        [disabled]="currentIndex === 0"
      >
        &#10094;
      </button>

      <!-- Image -->
      <div class="image" @zoomInOut>
        <img [src]="selectedImage" alt="Selected Image" />
      </div>

      <!-- Right arrow -->
      <button
        class="nav-arrow right"
        (click)="nextImage($event)"
        [disabled]="currentIndex === response.images.length - 1"
      >
        &#10095;
      </button>
    </div>

    <!-- Close button -->
    <span class="close-btn" (click)="closeImageLightbox()">&times;</span>
  </div>
</div>

<div class="blur" *ngIf="showImageLightBox"></div>
