.wrapper {
  .first {
    position: relative;
    .back {
      position: absolute;
      top: 80px;
      left: 80px;
      @media (max-width: 768px) {
        top: 20px;
        left: 20px;
      }
      button {
        display: flex;
        width: 152px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid #fff;
        background: transparent !important;
        border-radius: 0 !important;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }
    .image {
      img {
        height: 100%;
        width: 100%;
        max-height: 536px;
        object-fit: cover;
      }
    }
  }
  .second {
    padding: 64px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    @media (max-width: 768px) {
      padding: 40px 20px;
      gap: 24px;
    }
    h1 {
      color: #000;
      font-size: 80px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 32px;
      }
    }

    ::ng-deep p {
      width: 100%;
      word-break: break-word;
      font-style: normal;
      font-weight: 400;
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      flex-direction: column;
      gap: 7px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      ::ng-deep strong {
        font-size: 22px;
      }
      ::ng-deep a {
        color: #333;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }
  }
  .third {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    padding: 20px 80px;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 20px 20px;
      gap: 40px;
    }
    .txt{
      flex:1;
      p{
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 435px;
        @media (max-width: 768px) {
          font-size: 18px;
          max-width:100%;
          line-height: 32px;
        }

      }
      ::ng-deep p {
        width: 100%;
        word-break: break-word;
        font-style: normal;
        font-weight: 400;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 435px;
        line-height: normal;
        display: flex;
        flex-direction: column;
        gap: 7px;
        @media (max-width: 768px) {
          font-size: 18px;
          max-width:100%;
          line-height: 32px;
        }
        ::ng-deep strong {
          font-size: 22px;
        }
        ::ng-deep a {
          color: #333;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          text-underline-position: from-font;
        }
      }
    }
    .list{
      flex:1;
      display: flex;
      max-width: 665px;
      flex-direction: column;
      align-items: flex-start;
      gap: 39px;
      width: 100%;
      @media (max-width: 768px) {
        gap: 20px;
      }
      h3{
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      .items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        .item{
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          width: 100%;
          padding: 20px 0;
          border-bottom: 2px solid #B2B3B7;

          label{
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
          p{
            color: #000;
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .fourth{
    padding: 0 80px 0;
    margin: 120px 0 100px;
    height: 414px;
    @media (max-width: 768px) {
      padding: 0 20px 0;
      margin: 64px 0 32px;
      height: 220px;
    }
    .map{
      height: 414px;
      ::ng-deep .map-container{
        height: 414px !important;
      }
      @media (max-width: 768px) {
        height: 220px;
        ::ng-deep .map-container{
          height: 220px !important;
        }
      }
    }
  }
  .fifth{
    padding: 93px 80px 0px;
    @media (max-width: 768px) {
      padding: 0 20px 93px;
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 images per row */
      gap: 24px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }
    }

    .image-grid img {
      width: 100%;
      object-fit: cover;
      border-radius: 0px;
      height: 482px;
      @media (max-width: 768px) {
        height: 200px;
      }
    }


  }
}
.lightbox-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(2px);
}

.lightbox-content {
  //position: relative;
  max-width: 90%;
  max-height: 90%;
  .image{
    height: 100%;
  }
}

.lightbox-content img {
  max-width: 100%;
  //height: 100%;
  max-height: 85svh;
  border-radius:16px;
  transition: transform 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 45px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  background: #1f1f1f;
  width: 36px;
  height: 36px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding-bottom: 6px;
}

.lightbox-content img:hover {
  //transform: scale(1.05);
}
.blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: 2;
  backdrop-filter: blur(3px);
}
.image-heading {
  padding: 24px;
  background: #fff;
  //background: #1F1F1F;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.image-content{
  display: flex;
  align-items: center;
  gap: 16px;
  button{
    background: #ffffffba;
    border: none;
  }
}
