.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  form{
    button{
      width: 70px;
      height: 48px;
      border-radius: 12px;
      background: #F6F6F6;
      font-size: 14px;
      font-weight: 600;
      background: var(--primary-color);
      color: #FFF;
    }
  }

  .inputs {
    display: flex;
    //flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    width: 100%;
    .input-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
      width: 100%;
      label {
        color: #90928d;
        font-size: 14px;
        font-weight: 500;
      }

      input {
        width: 100%;
        border-radius: 12px;
        color: var(--text-color) !important;
        font-weight: 600;
        font-size: 14px;
        height: 48px !important;
      }
    }
  }
  .btns{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    button{
      width: 147px;
      height: 41px;
      border-radius: 12px;
      background: #F6F6F6;
      color: #656668 !important;
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 400px) {
        width: auto;
        flex: 1;
      }
      &.save{
        background: var(--primary-color);
        color: #FFF !important;
      }
    }
  }
}
::ng-deep .p-select,
::ng-deep .p-multiselect {
  border-radius: 12px !important;
  height: 48px !important;
}
.items {
  margin-top: 24px;
  width: 100%;
  border: 1px solid #e3e3e2;
  border-radius: 15px;
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
  .item {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e3e3e2;
    align-items: center;
    &:last-child {
      border-bottom: none;
    }
    .delete {
      width: 38px;
      height: 38px;
      padding: 0;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 7px;

      label {
        font-size: 14px;
        font-weight: 600;
        line-height: 16.94px;
        color: #90928d;
      }
      .value {
        display: flex;
        align-items: center;
        gap: 7px;
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 16.94px;
        }
      }
    }
  }
}
